# Ignore all __pycache__ directories
**/__pycache__/

# Ignore all compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore all __init__.py files:

**/__init__.py

# Ignore the VirtualEnv files:
/qmv

# Ignore Bug Reports file:
app/tests/QueryMind-Bugs.xlsx

# Ignore the querymind-test-suite folder:
app/tests/querymind_test_suite